@page
@model MyWebApp.Pages.IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="container mt-4">
    <h1>Home Page</h1>

    @if (User.Identity != null && User.Identity.IsAuthenticated)
    {
        <p>Welcome to your secure web application, @Model.Username!</p>
        <p>Use the navigation bar above to query the database.</p>
    }
    else
    {
        <p>Please <a href="/Login">login</a> to access the application.</p>
    }
</div>
